body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 94vh;
}

div {
    background-color: blueviolet;
    border-radius: 10%;

}

h1{

    color: rgb(255, 0, 38);
    background-color: rgb(250, 243, 243);
    padding: 1rem;
    border-radius: 10px;
}
